.sidenav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  display: block;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 80%;
  transition: all 0.2s;
}

.sidenav span {
  transition: 0.2s;
}

.sidenav a.shop {
  font-size: 1.5em;
  font-weight: bold;
}

.sidenav a:hover {
  background-color: rgba(223, 223, 223, 0.493);
  padding-left: 1em;
}

.sidenav a.active {
  background-color: var(--highlight-blue);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 1em;
}

.sidenav a.shop.active {
  background-color: lightgreen;
}

.sidenav a.cart {
  font-size: 1.5em;
}

.sidenav button.logout {
  position: fixed;
  text-align: center;
  bottom: 0;
}

.sidenav a:not(.active):hover {
  background-color: var(--highlight-grey);
  color: black;
}

.sidenav a.shop:hover {
  background-color: lightgreen;
}

.link:hover {
  cursor: pointer;
  color: white;
}

.sidenav button.logout {
  position: fixed;
  bottom: 1em;
  left: calc(var(--navigation-width) * 0.2);
  background-color: rgb(247, 68, 68);
  color: white;
  border-radius: 1em;
  border: 1px;
  min-width: 5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
  float: right;
  padding: 1em;
  transition: all 0.5s;
}

.sidenav button.logout:hover {
    cursor: pointer;
    background-color: lightcoral;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
