body {
  width: 100%;
  overflow-y: auto;
  margin: 0;
}

.dashboard {
  display: flex;
  top: var(--topbar-height);
  height: calc(100% - var(--topbar-height));
  width: 100%;
  position: fixed;
  overflow-y: auto;
}

.sidebar {
  background-color: var(--light-blue);
  height: 100%;
  width: 5%;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;
  transition: all 0.3s;
}

.sidebar-open {
  width: var(--navigation-width);
}

.content {
  margin-right: 2em;
  margin-bottom: 1em;
  flex: 5;
  width: 80%;
  display: inline-block;
  background-color: white;
  border-radius: 1em;
  overflow-y: auto;
}

/* Scrollbar */

.content::-webkit-scrollbar {
  width: 0.5em;
}

.content::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.content::-webkit-scrollbar-thumb {
  background-color: grey;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 50px !important;
  background: #fae1e2 !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 50px !important;
  background: #f0f9fa !important;
}
.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 50px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: #444c63;
  font-size: 16px;
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
}
.Toastify__toast > button > svg {
  display: none;
}
