:root {
    /* COLORS */
    --primary-color: #003559;
    --secondary-color: #006daa;
    --highlight-blue: rgb(210, 231, 255);
    --highlight-grey: rgb(226, 226, 226);
    --light-blue: rgb(243, 248, 255);

    /* NAV */
    --topbar-height: 10%;
    --navigation-width: 10%;

    /* FILTER BAR */
    --filter-height: 10em;
}